*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1f1f47;
}
.page{
  position: relative;
  width: 400px;
  height: 450px;
  background: rgba(255, 255, 255, .15);
  box-shadow: 0 8px 32px rgba(31, 38, 135, .37);
  border: 1px solid rgba(255, 255, 255, .18);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  font-size: 2em;
  text-align: center;
  color: #fff;
}
.input-box{
  position: relative;
  margin: 30px 0px;
  width: 320px;
  border-bottom: 2px solid #fff;
  
}
.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  color: #fff;
  transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
  top:5px;
}
.input-box input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1em;
  padding: 0 35px 0 5px;
}
.input-box .icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  line-height: 57px;
}
.remember-forget{
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.remember-forget input{
  margin-right: 5px;
}
.remember-forget a{
  text-decoration: none;
  color: white;
}
.remember-forget a:hover{
  text-decoration: underline;
}
button{
  width: 100%;
  height: 45px;
  background-color: tomato;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}
.register{
  margin: 90px 0 10px;
  text-align: center;
}
.register p{
  color: #fff;
  font-weight: 600;
}
.register a{
  color: #fff;
  text-decoration: none;
}
.register a:hover{
  text-decoration: underline;
}
.blob{
  position: absolute;
  height: 500px;
  width: 450px;
  background: linear-gradient(180deg, rgba(47, 184, 255, .42)31.77%, #5c9df1 100%);
  border-radius: 37% 63% 70% 30% / 28% 50% 50% 72% ;
  transform: translate(-100px, -50px) rotate(-90deg);
  transition: 1s;
  
}
.blob:hover{
  filter: blur(30px);
  height: 520px;
  width: 520px;
}